body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select, textarea, button {
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}


.doctor-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.doctor-item h3 {
    margin: 0;
    font-size: 1.2em;
}

.doctor-item p {
    margin: 5px 0;
}

.doctor-item button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.doctor-item button:hover {
    background-color: #0056b3;
}







/* body {
    font-family: Arial, sans-serif;
    background-color: #00182f;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select, button {
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
} */